.main {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.mainDark {
  color: white;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}

.main h1 {
  margin-top: -50px;
  text-align: center;
}
.mainDark h1 {
  margin-top: -50px;
  text-align: center;
}
.main h3 {
  text-align: center;
}
.mainDark h3 {
  text-align: center;
}
